html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

caption {
  padding: 10px;
}

.sideBar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 3vh;
  transition: 0.3s;
}

.open {
  height: 100vh;
  width: 40vw;
  border: 1px solid black;
  transition: 0.3s;
}

.sideBar-item {
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  color: white;
  border: none;
  background-color: black;
  transition: 0.3s;
}

.sideBar-item:hover {
  background-color: gray;
  color: white;
}

#data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#navBarButton {
  position: absolute;
}

#exitButton {
  padding: 5%;
  top: 0;
  left: 0;
}

#test {
  border: 1px solid rebeccapurple;
}

/*------------- Forms ----------- */

.popUp {
  display: block;
  background-color: #fefefe;
  z-index: 9;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.hoursForm {
  width: 100%;
  /* padding: 15px; */
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.hidden {
  display: none;
}

#entryForms {
  display: hidden;
  position: fixed; /* Stay in place */
  z-index: 8; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
