<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script defer src="/scripts/update.js"></script>
    <title>update</title>
  </head>
  <body onload="selectOptions()">
    <script>
      function navBar() {
        let sideBar = document.getElementsByClassName("sideBar")[0];
        sideBar.classList.toggle("open");
      }
    </script>
    <div class="sideBar">
      <button onclick="navBar()" class="sideBar-item" id="exitButton">
        &times
      </button>
      <a class="sideBar-item" href="./">Home</a>
      <!-- <a class="sideBar-item" href="./addHours">Add Hours</a> -->
      <a class="sideBar-item" href="./update">Update</a>
      <a class="sideBar-item" href="./createNew">Create New</a>
    </div>
    <button onclick="navBar()" id="navBarButton">open</button>
    <div class="flex">
      <select id="equipmentSelect"></select>
      <form id="entryForm" action="http://127.0.0.10:3500/"></form>
    </div>
  </body>
</html>
