<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script defer src="/scripts/addHours.js"></script>
    <title>Add Hours</title>
  </head>
  <body>
    <div class="sideBar">
      <button onclick="navBar()" class="sideBar-item" id="exitButton">
        &times
      </button>
      <a class="sideBar-item" href="/index.html">Home</a>
      <a class="sideBar-item" href="/views/addHours.html">Add Hours</a>
      <a class="sideBar-item" href="/views/update.html">Update</a>
      <a class="sideBar-item" href="/views/createNew.html">Create New</a>
    </div>
    <button onclick="navBar()" id="navBarButton">open</button>
  </body>
</html>
